*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 960px;
    margin: auto;
    padding: auto;
}

nav{
    width: 960px;
    font-size: 20px;
    background-color: #9c706d;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;  
    padding: 10px;
    color:#4d1d18;
    text-decoration: none;
}
nav a:hover, li a:hover{
    color: #e67e55;
}
nav a.active{
    color: #bf2f24;
}

.banner{
    width: 960px;
    height: 200px;
}
header{
    width: 960px;
    height: 225px;
}

#box{
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.left{
    width: 460px;
    padding: 5px;
}

.right{
    width: 460px;
    padding: 5px;
}


h1{
    color: #87423c;
    font-size: 36px;
}

h2{
    color: #4d1d18; 
    font-size: 24px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    line-height: 150%;
}

#note{
    font-weight: bold;
}

img{
    margin-top: 20px; 
    margin-bottom: 20px;
}
#pri_img{
    width: 450px;
    height: 273px; 
    margin-top: 5px;
}
.cp{
    margin-bottom: 20px;
}


form{
    border: 1.5px solid #682721;
    padding-left: 10px;
    }

label{
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;        
    }
#datelab{
    width: 12px;
    /* font-family: sans-serif; */
    font-weight: lighter;
}
        
input{
    width: 302px;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 10px;
    }
input[type="number"] {
    text-align: center;/* horizontal centering */     
}


.from,.to{
    width: 112px;
    }
        
textarea {
    width: 302px;
    height: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 10px;
    }

button {
    background-color: #682721;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    }

/* footer{
    background-color: #9c706d; 
} */

.ftdiv{
    display: flex; 
    justify-content: center;
    align-items: center;   
    height: 45px;
    padding: 1px;
}

ul{
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    color: black;
}
.ftimg{
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
